img {
    display: block;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

section {
    /* height: 800px; */
    border: solid black 10px;
    width:25%
    height:auto;
 }

.hero {
   
    /* height: 800px; */
    font-size: min-height 100vh;; 
    color: white;
    background-color: blueviolet;
  
    
}
 nav {
      display: flex;
      justify-content: space-around;
      background-color: coral; 
      overflow: hidden;
      


} 

#nav_list {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 15px;
} 

li {
     text-decoration: none;
}
    
       

    .hero-text {
        margin-left: 40px;
    }

.button { 
        /* display: inline-block; */
        font-size: 1em;
        background-color: #4CAF50; /* Green */
        border-radius: 20px;
        color: white;
        padding: 5px 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 4px;
        cursor: pointer;
    }

    h1 {
        font-size: 3em;
        text-align: center;
    }

    h3 {
        text-align: right;
        margin-right: 10px;

    }

    h4 {
        text-align: center;
        
    }
#img_maroon_bells {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    object-fit: cover;
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
}


/* 
#about {
    /* display: grid; */
    display: flexbox;
    background-color: dodgerblue;
    margin-left: 10px;
}

    .firstpic {
        width: 200px;
        height: 200px;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
    


 .picture {
    font-size: 20px;
    color: whitesmoke;
    background-color: black;
    width: 300px;
    height: auto;
    object-fit:cover;
    display: flex;
    margin: 5px;
    border: 10px
    
    

 }  

#picture1 {
    margin-left: auto;
    display: block;
}

#picture2 {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#picture3 {
   
}

#picture5 {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/* .firstpic {
    background-image: url(".\assets\images\HTML_pic_large.jpg");
    background-repeat: repeat-x;
} */ */









