body {
    font-family: 'Alegreya', serif;
    background-color: #E4E0E4;
    color: #270F0D;
    text-align: center;
  }
  
  h2{
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 5vw;
  }
  
  i {
    font-size: 4vw;
  }
  
  a {
    color: #835441;
  }
  
  span {
    font-style: italic;
  }
  
  
  ul, ol {
    list-style-position: inside;
  }
  
  /* navbar */
  .navbar {
    position: absolute;
    z-index: 5;
  }
  
  .navbar-light .navbar-nav .nav-link{
    color: #E4E0E4;
    text-shadow: 1px 1px #A9795F;
  }
  
  .nav-item:first-child {
    background-color: rgba(141, 129, 126, 0.4);
    border-radius: 10px 0px 0px 10px;
  }
  
  .nav-item:last-child {
    background-color: rgba(141, 129, 126, 0.4);
    border-radius: 0px 10px 10px 0px;
  }
  
  .nav-item.middle {
    background-color: rgba(141, 129, 126, 0.4);
  }
  
  .nav-item a {
    color: #835441;
    font-style: bold;
  }










